@import "./main.scss";
@import "./banner.scss";
@import "./header.scss";
@import "./footer.scss";
@import "./test.scss";

.services--container {}

.services--wrapper {
    padding-top: 80px;
    padding-bottom: 80px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    gap: 80px;
}

.services--card {
    width: clamp(200px, 100%, 300px);
    aspect-ratio: 8 / 9;
    position: relative;

    img {
        height: 60px;
        width: 60px;
        padding: 4px;
        background: var(--bg-main);
        border: 1px solid #333;
        border-radius: 100px;
        position: absolute;
        left: 50%;
        top: 0;
        transform: translate(-50%, -50%);
        z-index: 4;
    }
}

.card--screen {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.card--wrapper {
    width: 100%;
    height: 100%;
    border: 1px solid #333;
    background: #fff;  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 40px 20px 60px;
    
    h2 {
        font-size: 1.8rem;
        font-weight: bold;
        color: #333;
    }

    p {
        font-size: 1.2rem;
        color: #666;
        text-align: center;
    }
}

.card--cache--top {
    width: 70px;
    height: 70px;
    background: #fff;
    border: 1px solid #333;
    border-radius: 100px;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
}

.card--cache--bottom {
    width: 156px;
    height: 45px;
    background: #fff;
    border: 1px solid #333;
    border-radius: 8px;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%);
}

.card--submit {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);

    button {
        width: 150px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
        font-weight: bold;
        color: #fff;
        border: 2px outset var(--bg-main);
        border-radius: 8px;
        background: var(--bg-main);
        cursor: pointer;
    }
}

@media (min-width: 769px) {
    .services--wrapper {
        padding-top: 80px;
        padding-bottom: 80px;
        grid-template-columns: repeat(2, 1fr);
        gap: 80px;
    }
}

@media (min-width: 976px) {
    .services--wrapper {
        padding-top: 80px;
        padding-bottom: 80px;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 20px;
    }
}

@media (min-width: 1280px) {
    .services--wrapper {
        padding-top: 80px;
        padding-bottom: 80px;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 40px;
    }
}

.tarif--container {}

.tarif--wrapper {
    padding-top: 40px;
    padding-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);    
}

.tarif--tarif, .tarif--title, .tarif--categ, .tarif--value {
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;    
}

.tarif--tarif {    
    background: red;
    border: 1px solid #333;

    h3 {
        font-size: 1rem;
        font-weight: bold;
        color: #fff;
    }
}

.tarif--title {    
    background: #333;
    border: 1px solid #333;
    border-left: none;

    h3 {
        font-size: 1rem;
        font-weight: bold;
        color: #fff;
    }
}

.tarif--categ {    
    background: #EEE;
    border: 1px solid #333;
    border-top: none;

    p {
        font-size: 1rem;
        color: #333;
    }

    &.last{
        margin-bottom: 40px;
    }
}

.tarif--value {   
    border: 1px solid #333;
    border-top: none;
    border-left: none;

    p {
        font-size: 1rem;
        color: #333;
    }
}

@media (min-width: 769px) {
    .tarif--wrapper {
        grid-template-columns: repeat(5, 1fr);    
    }

    .mobile {
        display: none;
    }
}
